#gameDiv{
    font-family: 'Aerial', cursive;
    border: 3px solid;
    border-radius: 25px;
    padding: 10px;
    background-color: lightgrey;
    text-align: center;
}
.choiceBtn{
    line-height: 30px;
    width: 150px;
}
#playerText{
    color: blue;
}
#computerText{
    color: red;
}
html{
    background-color: black;
    overflow: hidden;
}

#title{
	border:  1px solid;
	width: 530px;
	padding: 25px;
	background-color: black;
	border-color: white;
	box-shadow: 10px 10px 5px black;
	color: white;
	text-shadow: 0px 0px 5px red, 0px -5px 5px yellow;
	text-align: center;
	position: relative;
	left: 370px;
	animation: payframe;
    animation-duration: 5s;
    animation-iteration-count: infinite;
	
}

@keyframes payframe{
	50% {transform: scale(0.5,0.5);}
}

@media (max-width: 576px){  
  #title{        width: 250px;      
                 padding: 10px;        
                 position: relative;	   
                 left: 5px;       
                 font-size: 14px;  
  }  
  #gameDiv{        border: 2px solid;    
                   border-radius: 10px;
                   padding: 3px;
                   position: relative; 
                   left: 2px;
    }
    .choiceBtn{ 
                   line-height: 20px;   
                   width: 70px; 
                   font-size: 10px; 
   }    
    #playerText{
                   color: blue; 
                   font-size: 25px;   
   }
   #computerText{ 
                   color: red; 
                   font-size: 25px;
    }
    #resultText{ 
                   font-size: 25px; 
   }  
 }
